*{
	box-sizing: border-box;
	margin: none;
	padding: none;
}
@font-face{
	font-family: Courage;
	src:url(fonts/SilenceRocken.ttf);
}

body{
	background: url("photos/Desert.jpg");
	background-size: 100% , 100%;
}
.Logo{
	font-family: Montserrat;
	font-size: 70px;
	color: white;
	text-align: center;
}
.glass{
	position: absolute;
	z-index: 2;
	width: 500px;
	height: 250px;
	left: 420px;
	top: 400px;
	background-color: rgba(255,255,255,0.2);
	backdrop-filter:blur(20px);
}
.exam{
	font-family: Poppins;
	font-size: 120px;
	color: white;
	text-align: center;
}